<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Saga.Manager.Database" type="Saga.Configuration.DatabaseSettings, Saga.Authentication, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.NetworkSettings" type="Saga.Configuration.NetworkSettings, Saga.Authentication, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <Saga.Manager.Database provider="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Authentication.Data.Mysql.dll, Saga.Authentication.Data.Mysql.MysqlProvider"
        host="104.243.34.154" username="saga" password="Rodry123"
        port="3306" database="saga" />
    <Saga.NetworkSettings>
        <Connections>
            <add connection="public" host="127.0.0.1" port="64001" />
            <add connection="internal" host="127.0.0.1" port="64002" />
        </Connections>
    </Saga.NetworkSettings>
</configuration>