<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Saga.NetworkSettings" type="Saga.Configuration.NetworkSettings, Saga.Gateway, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <Saga.NetworkSettings CRCKEY="ED90AA25AE906FB36308C8523A4737A7E7B1FC6F"
        GUID="A928CDC9DBE8751B3BC99EB65AE07E0C849CE739">
        <Connections>
            <add connection="public" host="104.243.34.154" port="64000" />
            <add connection="internal" host="127.0.0.1" port="64001" />
        </Connections>
    </Saga.NetworkSettings>
</configuration>