<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Saga.Factory.Addition" type="Saga.Configuration.AdditionSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.CharacterConfiguration" type="Saga.Configuration.CharacterConfigurationSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Events" type="Saga.Configuration.EventSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Items" type="Saga.Configuration.ItemSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Portals" type="Saga.Configuration.PortalSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.SpawnMultiWorldObjects" type="Saga.Configuration.SpawnMultiWorldObjectSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.SpawnTemplate" type="Saga.Configuration.SpawntemplateSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.SpawnWorldObjects" type="Saga.Configuration.SpawnWorldObjectSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Spells" type="Saga.Configuration.SpellSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.StatusByLevel" type="Saga.Configuration.StatusByLevelSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Warps" type="Saga.Configuration.WarpSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Weaponary" type="Saga.Configuration.WeaponarySettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Factory.Zones" type="Saga.Configuration.ZoneSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Manager.ConsoleSettings" type="Saga.Configuration.ConsoleSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Manager.Database" type="Saga.Configuration.DatabaseSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Manager.NetworkSettings" type="Saga.Configuration.NetworkSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Manager.Quest" type="Saga.Configuration.QuestSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.Manager.Scripting" type="Saga.Configuration.ScriptingSettings, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="Saga.ServerVars" type="Saga.Configuration.ServerVars, Saga.Map, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <Saga.Factory.Addition reference="~/addition_reference.csv">
        <Files>
            <add path="~/Addition_t.xml" format="text/xml" />
        </Files>
    </Saga.Factory.Addition>
    <Saga.Factory.CharacterConfiguration>
        <Files>
            <add path="~/character-template.csv" format="text/csv" />
        </Files>
    </Saga.Factory.CharacterConfiguration>
    <Saga.Factory.Events provider="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.EventInfo">
        <Files>
            <add path="~/eventlist.csv" format="text/csv" />
        </Files>
    </Saga.Factory.Events>
    <Saga.Factory.Items>
        <Files>
            <add path="~/item_data.xml" format="text/xml" />
        </Files>
    </Saga.Factory.Items>
    <Saga.Factory.Portals>
        <Files>
            <add path="~/portal_data.csv" format="text/csv" />
        </Files>
    </Saga.Factory.Portals>
    <Saga.Factory.SpawnMultiWorldObjects type="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Plugins.dll, Saga.Map.Plugins.MultifileSpawnMultiWorldObjects">
        <Files>
            <add path="~/mob-spawns/" format="text/csv" />
        </Files>
    </Saga.Factory.SpawnMultiWorldObjects>
    <Saga.Factory.SpawnTemplate>
        <Files>
            <add path="~/npc_templates.csv" format="text/csv" />
            <add path="~/item_templates.csv" format="text/csv" />
        </Files>
    </Saga.Factory.SpawnTemplate>
    <Saga.Factory.SpawnWorldObjects type="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Plugins.dll, Saga.Map.Plugins.MultifileSpawnWorldObjects">
        <Files>
            <add path="~/npc-spawns/" format="text/csv" />
            <add path="~/item-spawns/" format="text/csv" />
        </Files>
    </Saga.Factory.SpawnWorldObjects>
    <Saga.Factory.Spells reference="~/skill_reference.csv">
        <Files>
            <add path="~/spell_data.xml" format="text/xml" />
        </Files>
    </Saga.Factory.Spells>
    <Saga.Factory.StatusByLevel cexp="5" jexp="5" wexp="15" drate="20">
        <Files>
            <add path="~/experience.csv" format="text/csv" />
        </Files>
    </Saga.Factory.StatusByLevel>
    <Saga.Factory.Warps>
        <Files>
            <add path="~/warp_data.csv" format="text/csv" />
        </Files>
    </Saga.Factory.Warps>
    <Saga.Factory.Weaponary>
        <Files>
            <add path="~/weapon_data.csv" format="text/csv" />
        </Files>
    </Saga.Factory.Weaponary>
    <Saga.Factory.Zones directory="../Data/heightmaps">
        <Files>
            <add path="~/zone_data.csv" format="text/csv" />
        </Files>
    </Saga.Factory.Zones>
    <Saga.Manager.ConsoleSettings commandprefix="@">
        <GmCommands>
            <add path="Saga.Scripting.Console.Broadcast" />
            <add path="Saga.Scripting.Console.Position" />
            <add path="Saga.Scripting.Console.ChatMute" />
            <add path="Saga.Scripting.Console.GmWarptomap" />
            <add path="Saga.Scripting.Console.PlayerJump" />
            <add path="Saga.Scripting.Console.PlayerCall" />
            <add path="Saga.Scripting.Console.Speed" />
            <add path="Saga.Scripting.Console.GarbageCollector" />
            <add path="Saga.Scripting.Console.ClearNpc" />
            <add path="Saga.Scripting.Console.KickAll" />
            <add path="Saga.Scripting.Console.Kick" />
            <add path="Saga.Scripting.Console.Time" />
            <add path="Saga.Scripting.Console.ShowMaintenance" />
            <add path="Saga.Scripting.Console.ScheduleMaintenance" />
            <add path="Saga.Scripting.Console.SetGmLevel" />
            <add path="Saga.Scripting.Console.Spawn" />
            <add path="Saga.Scripting.Console.Unspawn" />
            <add path="Saga.Scripting.Console.GiveItem" />
            <add path="Saga.Scripting.Console.QStart" />
            <add path="Saga.Scripting.Console.Kill" />
            <add path="Saga.Scripting.Console.Worldload" />
            <add path="Saga.Scripting.Console.Gmgo" />
        </GmCommands>
    </Saga.Manager.ConsoleSettings>
    <Saga.Manager.Database provider="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Data.Mysql.dll, Saga.Map.Data.Mysql.MysqlProvider"
        host="104.243.34.154" username="saga" password="Rodry123"
        port="3306" database="saga" />
    <Saga.Manager.NetworkSettings world="1" playerlimit="1000" proof="8B3A059F0CCB12B7D149E6230E025205">
        <Connections>
            <add connection="public" host="127.0.0.1" port="64003" />
            <add connection="internal" host="127.0.0.1" port="64002" />
        </Connections>
    </Saga.Manager.NetworkSettings>
    <Saga.Manager.Quest directory="../Quests/" sdirectory="~/Scenario.Quests/"
        provider="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.LuaQuestProvider"
        scenarioprovider="C:\Users\Administrator\Desktop\SagaRevised-master\Binary\Saga.Map.Data.LuaQuest.dll, Saga.Map.Data.LuaQuest.ScenarioLuaQuest" />
    <Saga.Manager.Scripting directory="../Saga.Scripting">
        <Assemblies>
            <add path="System.dll" format="text/csv" />
            <add path="System.Data.dll" format="text/csv" />
            <add path="System.Xml.dll" format="text/csv" />
        </Assemblies>
    </Saga.Manager.Scripting>
    <Saga.ServerVars datadir="../Data/" />
</configuration>